name: Release CLI tool
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' # for cli tool
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build cli tool
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Setup Go 1.25.x
        uses: actions/setup-go@v5
        with:
          # Semantic version range syntax or exact version of Go
          go-version: '1.25.x'
          
      - name: Build 
        run: make build

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} \
            --title "Release ${{ github.ref_name }}" \
            --notes "Automated release for ${{ github.ref_name }}" \
            cdtool-linux-amd64
            
      
      
        
